/**
 * Created by Lena on 31.07.18.
 */
.THIS .inputNumber{
    padding-left: 30px;

}
.THIS .inputButton{
    padding-left: 130px;

}

.THIS .inputName{
    padding-left: 30px;

}

.THIS .inputId{
    padding-left: 30px;

}