/**
 * Created by Lena on 31.07.18.
 */
.THIS .myClass{
   width: 300px;
   padding: 25px;
   box-sizing: border-box;
}

.THIS .toggleClass{
   width: 300px;
   padding: 40px;
   box-sizing: border-box;
   ailgn: center;
}