
.THIS.main {
    background-color: #e3f7e7;
}

.THIS .linkBox {
    background-color: #b0e5cb;
    border: hidden;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    color: #42603e;
}

.THIS .searchBox {
    /*background-color: #58c96b;*/
    height: 50px;
    font-size: 1.5em;
    color: gray();
}

.THIS .serchField {
    margin: 10px;
}

.THIS .contentImg {
    margin: 3px;
}

.THIS .singIn {
    color: #878487;
}
