.THIS.main {
    background-color: #e3f7e7;
}

.THIS .header {
    border-bottom: 1px solid white;
    height: 60px;
    weight: 100%;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535355226000/Onliner_Header');
    overflow: hidden;

}

.THIS .linkBox {
    background-color: #b0e5cb;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    color: #42603e;
}

.THIS .searchBox {
    height: 70px;
    font-size: 1.5em;
    color: gray();
    padding-top: 45px;
    padding-left: 150px;

}

.THIS .smallerTabs {
    background-color: #b0e5cb;
    height: 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #42603e;
    padding-left: 10px;

}

.THIS .serchField {
    padding-top: 25px;
    padding-right: 10px;
}

.THIS .icon {
    padding-right: 15px;
}

.THIS .imgLeft1 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 300px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535352964000/Content_Img_1');
    background-repeat:no-repeat;
}

.THIS .imgLeft2 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535482065000/Content_Img_2');
    background-repeat:no-repeat;
}

.THIS .imgCenter1 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535483802000/center1/');
    background-repeat:no-repeat;
}

.THIS .imgCenter2 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535484260000/center2/');
    background-repeat:no-repeat;
}

.THIS .imgCenter3 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535482717000/center3/');
    background-repeat:no-repeat;
}

.THIS .imgCenter4 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535484508000/center4/');
    background-repeat:no-repeat;
}

.THIS .imgCenter5 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535483829000/center5/');
    background-repeat:no-repeat;
}

.THIS .imgCenter6 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535482796000/center6/');
    background-repeat:no-repeat;
}

.THIS .imgRight1 {
    border-bottom: 1px solid white;
    height: 150px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535484069000/right1');
    background-repeat:no-repeat;
}

.THIS .imgRight2 {
    border-bottom: 1px solid white;
    height: 300px;
    weight: 350px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535356985000/Content_Img_7');
    background-repeat:no-repeat;
}

.THIS .article_title {
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
}

.THIS .singIn {
    color: #878487;
}

.THIS .transp:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.THIS .sectionHeader {
    height: 60px;
    font-weight: bold;
    font-size: 3.2em;
    color: #216359;
    padding-left: 15px;
}

.THIS .imagesField {
    border-right: 1px solid white;
    max-height: 100px;
    max-weight: 120px;
    overflow: hidden;
}

.THIS .textContent {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 5px;
}

.THIS .textHeader {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    color: #216359;
}

.THIS .text {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 1.5em;
    text-align: justify;
}

.THIS #imgId {
    float: left;
    padding-right: 5px;
    max-height: 250px;
    max-weight: 300px;
    overflow: hidden;
}

/*.THIS .bin {
 	margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;  
}*/

@media (max-width: 1050px) {
    .THIS .test {
        display: none;
    }
}