.THIS.main {
    background-color: #e3f7e7;
}

.THIS .linkBox {
    background-color: #b0e5cb;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    color: #42603e;
}

.THIS .searchBox {
    /*background-color: #58c96b;*/
    height: 50px;
    font-size: 1.5em;
    color: gray();
    padding-top: 45px;
    padding-left: 15px;

}

.THIS .serchField {
    padding-top: 25px;
    padding-right: 15px;
}

.THIS .imgLeft1 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 170px;
    weight: 530px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535277287000/Content_Img_1');
    background-repeat:no-repeat;
 }

.THIS .imgLeft2 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 170px;
    weight: 530px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535205305000/Content_Img_2');
    background-repeat:no-repeat;
}

.THIS .imgLeft3 {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 170px;
    weight: 530px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535277430000/Content_Img_3');
    background-repeat:no-repeat;
}

.THIS .imgCenterBig {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 420px;
    weight: 530px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535274040000/Content_Img_4/imgCenter.jpg');
    background-repeat:no-repeat;
}


.THIS .imgCenterSmall {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 90px;
    weight: 530px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535276983000/Content_Img_5');
    background-repeat:no-repeat;
  }

.THIS .imgRight1 {
    border-bottom: 1px solid white;
    height: 255px;
    weight: 200px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535269563000/Content_Img_6');
    background-repeat:no-repeat;
}

.THIS .imgRight2 {
    border-bottom: 1px solid white;
    height: 255px;
    weight: 200px;
    overflow: hidden;
    background: url('https://vrpvisualpage-dev-ed.lightning.force.com/resource/1535269575000/Content_Img_7');
    background-repeat:no-repeat;
}

.THIS .article_title {
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
}

.THIS .singIn {
    color: #878487;
}

@media (max-width: 800px) {
    .THIS.test {
        display: none;
    }
}